<!-- index.ejs -->
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
            <h1><%= title %></h1>
    <a href="/new">
    <button type="button">New Message</button>
    </a>

    <ul>
        <% messages.forEach((message) => { %>
        <li>
        <h2>Message : </h2>
        <h3>Text : </h3>
        <%= message.text %>
        <h3>User : </h3>
            <%= message.user %>
            <h3>Date added :</h3>
            <%= message.added %>
        <!-- Open button -->
        <a href="/messages/<%= message.id %>">
            <button type="button">Open</button>
        </a>
        </li>
        <% })%>
    </ul> 
  </body>
</html>
